#benefits #lean_startup_principles {
    font-size: 15px;
}
#benefits h4 {
    font-size: 40px;
}
#benefits blockquote {
    width: 450px
}
#book .button.getInvolved {
    font-size: 13px;
}
.sectionWrapper .photoCredit{
    margin-left: -110px;
}